<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meal Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="scan()">
         <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="meal" >
 <ion-card>
  <ion-card-header class="text-center"> 
    <h2 class="text-center">{{ meal.createdUpdated.createdAt | date:'dd-MMM-yyyy' }}</h2>
    <br>
    <h1 class="text-center">{{ meal.mealTitle }}</h1>
  </ion-card-header>
   <ion-card-content>
   <ion-segment [(ngModel)]="mealType">
    <ion-segment-button value="veg" color="secondery">
      Veg
    </ion-segment-button>
    <ion-segment-button value="nonveg" color="danger">
      Non-Veg
    </ion-segment-button>
  </ion-segment>
  
  <div [ngSwitch]="mealType">
  <ion-list *ngSwitchCase="'veg'">
    <ion-item>
    <ul>
      <li *ngFor="let vegMealMenu of vegMenu;">
          {{ vegMealMenu }}
      </li>
    </ul>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'nonveg'">
    <ion-item *ngIf="!meal.isNonVeg"><br>
     <h2 class="txt-center-red">Not Available !</h2>
    </ion-item>
    <ion-item *ngIf="meal.isNonVeg">
     <ul>
      <li *ngFor="let vegNonMealMenu of nonVegMenu;">
          {{ vegNonMealMenu }}
      </li>
    </ul>
<!--
      <rating [(ngModel)]="nonVegRating" 
        readOnly="true"
        max="5"
        emptyStarIconName="star-outline"
        halfStarIconName="star-half"
        starIconName="star"
        nullable="false"
        (ngModelChange)="rateMeal($event)">
     </rating>-->

    </ion-item>
  </ion-list>
  </div>

  <button ion-button icon-left block (click)="getMembers()" class="btn-save">
    <ion-icon name="people"></ion-icon>
    Members
  </button>

 </ion-card-content>
</ion-card>

</ion-content>